{% extends "base.html" %}
{% block content %}


{% if all_books %}
<legend class="mb-4">Books in Library</legend>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Available in Library</th>
        <th scope="col">Readers</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    {% for book in all_books %}
    <tbody>
    <tr class="table">
        <th scope="row">{{ book.id }}</th>
        <td>{{ book.title }}</td>

        <td>
            {% for author in book.authors %}
            {{author.first_name}} {{author.last_name}}
            <br>
            {% endfor %}
        </td>

        <td>{{ book.stock }}</td>
        <td>
            {% for reader in book.readers %}
            {{reader.first_name}} {{reader.last_name}}
            <br>
            {% endfor %}
        </td>

        {% if book.stock >0 and current_user not in book.readers %}
        <td><a href="{{ url_for('borrow_book', id=book['id']) }}">Borrow</a></td>
        {% else %}
        <td>Not available to borrow</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}